<!-- 네비게이션바 -->
{% load static %}
{% load templatetag %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <img src="{% static 'images/brain.png' %}" style="width:30px" alt="이미지 설명">
        <span style="margin-right: 8px;"></span> <!-- 공백 추가 -->
        <a class="navbar-brand" href="{% url 'home' %}">BTdS  </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "common:create_user" %}">회원가입</a>
                </li>
                <li class="nav-item">
                   {% is_user_logged_in as user_logged_in %}  <!-- is_user_logged_in을 변수 user_logged_in에 할당 -->
                    {% if user_logged_in %}
                        <a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li>
                    {% if user_logged_in %}
                        <a class="nav-link" href="{% url "patient:list" %}">환자</a>
                    {% else %}
                        <a class="nav-link" onclick="alert('로그인을 해주세요')" href="{% url "common:login" %}">환자</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>